<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Edit Movie</h1>
  <form action="/movies/<%= movie._id %>?_method=PUT" method="POST" autocomplete="off">
    <input value="<%= movie.name %>" type="text" name="name" >
    <input value="<%= movie.year %>"type="text" name="year" >
    <button type="submit">Update Movie</button>
  </form>
  <a href="/movies/<%= movie._id %>">Cancel</a>
</body>
</html>